# ==================================================
# Frontend
# ==================================================

# ローカル開発の場合
# NEXT_PUBLIC_API_BASE_URL=http://localhost:8080

# 本番で Nginx / ALB / リバースプロキシ経由にする場合
# NEXT_PUBLIC_API_BASE_URL=https://example.com/api

NEXT_PUBLIC_API_BASE_URL=https://example.com/api